@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #121212;
    color: rgb(20, 149, 20);
}

.container {
    width: 100%;
    max-width: 1042px;
    margin: 20px auto 20px auto;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: calc(200px * 4 + 3rem); /* 4 คอลัมน์ + ช่องว่าง */
    gap: 1rem;
    margin: auto;
    place-items: center;
    
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 4px */
}

.card {
    width: 100%;
    max-width: 200px;
    border: 1px solid #0F0;
    padding: 10px;
    margin-bottom: 1rem;
}

.card-content {
    font-size: clamp(0.875rem, 1.5vw, 1.25rem);
}

.card-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}